@media (min-width: 485px) {
    .grid-chart-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

}



@media (min-width: 960px) {
    .chart-editor {
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .text-editor {
        height: 93%;
        width: 35%;
        margin: 0
    }

    .terms-container {
        min-height: 44%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    canvas {
        width: 500px;
    }

}